[rerere]
    enabled = 1 
[color]
    diff = auto
    status = auto
    branch = auto
    log = auto
    blame = auto
[color "status"]
    branch = green
[color "diff"]
    plain = normal
    meta = green
    frag = yellow
    old = magenta
    new = cyan
    commit = yellow bold
    whitespace = reverse black
[alias]
    st = status -sb
    ci = commit -v
    addi = add --interactive
    br = checkout -b
    co = checkout
    pick = cherry-pick -s
    praise = blame -w
    up = !git stash && git pull --rebase && git submodule update && git stash pop
    lg = log --graph --all --pretty=format:'%Cred%h%Creset - %Cgreen(%cN, %cr)%Creset %s%C(yellow)%d%Creset' --abbrev-commit --date=relative
    who = shortlog -sn --
    save = stash save
    pop = stash pop 
    clear = stash clear
    debt = grep -I 'FIXME\\|TODO\\|XXX'
    svnpush = svn dcommit
    svnpull = svn rebase
    changes = diff --name-status -r
    deleted = log -1 --
    diffstat = diff --stat -r
    dm = diff -w -M master...HEAD
    prom = pull --rebase origin master
    pt = push --tags
[user]
    email = wallace@reis.me
    name = Wallace Reis
[push]
    default = current
[pull]
    rebase = true
[diff]
    algorithm = patience
[status]
    submodule = 1
